.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--blue-80);
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--krub);
    font-size: 24px;
    font-weight: 800;
}

.logo span:first-child {
    color: var(--white);
}

.logo span:last-child {
    color: transparent;
    background-image: var(--orange-gradient);
    background-clip: text;
    -webkit-background-clip: text;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--titillium);
    font-weight: 700;
    width: 75px;
    text-align: center;
}

.links a:last-child {
    background-image: var(--orange-gradient);
    padding: 10px 16px;
    border-radius: 12px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white);
    font-family: var(--titillium);
    font-weight: 700;
}

.user-img {
    width: 42px;
    height: 42px;
    background: var(--purple-gradient);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-img img {
    width: 36px;
    height: 36px;
    background-color: var(--blue);
    border-radius: 50%;
    padding: 3px;
}
.search{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 80px;
}
.icon{
    position: absolute;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.ubicatesearch{
    position: absolute;
    top: 63%;
    left: 67.8%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 80px;
}