<mat-toolbar class="header">
    <a routerLink="/" class="logo">
        <span>JANKEN</span>
        <span>101</span>
    </a>
    <div *ngIf="!register; else noRegister" class="user">
        <span>KAPUT1234</span>
        <div class="user-img">
            <img src="assets/user.svg" alt="">
        </div>
    </div>
    <ng-template #noRegister>
        <div class="links">
            <a routerLink="">Sign up</a>
            <a routerLink="">Log in</a>
        </div>
    </ng-template>
</mat-toolbar>