<main class="game">
  <div class="side-content">
    <div class="user">
      <div class="user-img">
        <img src="assets/user.svg" alt="">
      </div>
      <span>ROCKBOT</span>
    </div>
    <app-instructions></app-instructions>
    <div></div>
  </div>
  <div class="game-board">
    <mat-progress-spinner class="progress colorprogress" strokeWidth="1.5" [color]="spinnerColor" [mode]="spinnerMode" [value]=100>
    </mat-progress-spinner>
    <mat-progress-spinner class="progress" strokeWidth="1.5" [color]="spinnerColor" [mode]="spinnerMode" [value]="spinnerValue">
    </mat-progress-spinner>

    <div class="game-round">
      <div class="cards oponent-cards">
        <div></div>
        <app-card *ngFor="let card of enemyDeck.cards;" [name]="card"></app-card>
      </div>
      <div class="game-board-center">
        <span>JANKEN 101</span>
      </div>
      <div class="cards user-cards">
        <div></div>
        <app-card class="user-card" *ngFor="let card of playerDeck.cards; let i = index" [name]="card"
          (click)="playCard($event, i)"></app-card>
        <div class="empty-card"></div>
      </div>
    </div>
  </div>
  <div class="side-content">
    <div class="controls-timer">
      <div class="controls">
        <button>
          <img src="assets/pause.svg" alt="pause">
        </button>
        <button>
          <img src="assets/settings.svg" alt="settings">
        </button>
      </div>
      <span class="timer">{{ time | date: 'mm:ss' }}</span>
    </div>
    <app-scoreboard></app-scoreboard>
    <div class="user">
      <span>ANONYMOUS</span>
      <div class="user-img">
        <img src="assets/user.svg" alt="">
      </div>
    </div>
  </div>
</main>
<app-round-result class="round-result"></app-round-result>
