.game {
  width: 100%;
  height: 100%;
  padding: 40px;
  border-radius: 12px;
  background-color: var(--blue-90);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  overflow-x: overlay;
}

.side-content {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.side-content:last-child {
  align-items: flex-end;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--white);
  font-family: var(--titillium);
  font-weight: 400;
}

.user-img {
  width: 42px;
  height: 42px;
  background: var(--purple-gradient);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-img:last-child {
  background: var(--pink-gradient);
}

.user-img img {
  width: 36px;
  height: 36px;
  background-color: var(--blue);
  border-radius: 50%;
  padding: 3px;
}

.controls-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.controls button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.timer {
  width: 100%;
  text-align: center;
  font-family: var(--krub);
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
}

.game-board {
  min-width: max(500px, min(calc(100vh - 240px), calc(100vw - 240px)));
  min-height: max(500px, min(calc(100vh - 240px), calc(100vw - 240px)));
  border-radius: 50%;
  background-color: var(--blue-80);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress {
  position: absolute;
  width: max(500px, min(calc(100vh - 240px), calc(100vw - 240px))) !important;
  height: max(500px, min(calc(100vh - 240px), calc(100vw - 240px))) !important;
}

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #000000;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #E13387;
}

.colorprogress {
  filter: (1);
  stroke-opacity: 0.4;
}

*::-webkit-scrollbar {
  height: 8px;
}

.game-round {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  position: relative;
}

.oponent-cards {
  top: -20px;
}

.user-cards {
  bottom: -20px;
}

.cards app-card {
  width: 100px;
}

.oponent-card {
  position: relative;
  bottom: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.user-card {
  position: relative;
  top: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.user-card:hover {
  top: -10px;
}

.game-board-center span {
  font-family: var(--krub);
  font-size: 40px;
  font-weight: 800;
  color: var(--blue-90);
}

.user-cards > div:first-child {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 200px;
  width: 100px;
  height: 150px;
  border-radius: 12px;
  background-color: var(--blue-90);
}

.oponent-cards > div:first-child {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  width: 100px;
  height: 150px;
  border-radius: 12px;
  background-color: var(--blue-90);
}

.throw-user-card {
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -200px;
}

.throw-oponent-card {
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -200px;
}

.empty-card {
  height: 150px;
}

.round-result {
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
} 

.show-round-result {
  visibility: visible;
  opacity: 1;
}



@media (max-height: 950px) {
  .cards app-card {
    width: 75px;
  }

  .user-cards > div:first-child {
    width: 75px;
    height: 112px;
    bottom: 140px;
  }
  
  .oponent-cards > div:first-child {
    width: 75px;
    height: 112px;
    top: 140px;
  }

  .throw-user-card {
    top: -140px;
  }

  .throw-oponent-card {
    bottom: -140px;
  }

  .empty-card {
    height: 112px;
  }

  .game-board-center span {
    font-size: 30px;
  }

}