<nav class="sidenav-links">
    <a routerLink="/breweries" routerLinkActive="router-link-active">
        <div></div>
        <div class="icon-container">
            <div></div>
            <img src="assets/beer.svg"/>
        </div>
        <span>All breweries</span>
    </a>
    <a routerLink="/top" routerLinkActive="router-link-active">
        <div></div>
        <div class="icon-container">
            <div></div>
            <img src="assets/top_beer.svg"/>
        </div>
        <span>Top breweries</span>
    </a>
</nav>
