.not-found {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logo h1{
  font-family: var(--krub);
  font-size: 100px;
  font-weight: 800;
  margin: 0;
}

.logo h1:first-child {
  color: var(--white);
}

.logo h1:last-child {
  color: transparent;
  background-image: var(--orange-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.not-found p {
  margin: 0;
  font-size: 24px;
  color: var(--white);
}

.not-found a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--titillium);
  font-weight: 700;
  width: 100px;
  text-align: center;
  background-image: var(--orange-gradient);
  padding: 10px 16px;
  border-radius: 12px;
  margin-top: 100px;
}
