.instructions-container {
  background-color: var(--blue-80);
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.instructions > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions p {
  text-align: center;
  font-size: 18px;
  font-family: var(--titillium);
  font-weight: 400;
  color: var(--blue-70);
}