.game-result {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--background-opacity);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
  overflow-y: auto;
}

.game-result-title {
  font-family: var(--krub);
  font-size: 150px;
  font-weight: 700;
  text-align: center;
  color: transparent;
  background-image: var(--orange-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.win {
  background-image: var(--green-gradient);
}

.draw {
  background-image: var(--purple-gradient);
}

.lose {
  background-image: var(--pink-gradient);
}

.game-result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.game-result-content > span {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.round-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.number-round {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-round > span {
  font-weight: 700;
  color: var(--white);
}

.round-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.card {
  width: 100px;
  position: relative;
}

.card-lose {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: var(--card-opacity);
}

.round-result > p {
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-top: -10px;
}

.divider {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--blue-90);
}

.end-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-align: center;
}

.end-message > span {
  font-weight: 700;
}

.end-message p {
  max-width: 550px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.buttons button {
  border: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  background: none;
}

.buttons a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--titillium);
  font-size: 16px;
  font-weight: 700;
  width: 75px;
  text-align: center;
  width: 100px;
  background-image: var(--orange-gradient);
  padding-block: 10px;
  border-radius: 12px;
  cursor: pointer;
}

@media (max-width: 1275px) {
  .game-result {
    justify-content: unset;
  }

  .end-message{
    margin-bottom: 25px;
  }
}