.round-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.round-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.round-number-result span{
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}

.round-number-result div {
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.card {
  width: 40px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--white);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cards-battle span {
  font-family: var(--krub);
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
}

.cards-battle img {
  width: 100%;
  height: auto;
}

.win {
  background: var(--green-gradient);
}

.lose {
  background: var(--pink-gradient);
}

.draw {
  background: var(--purple-gradient);
}

.empty-card {
  background-color: var(--blue-90)
}

.card-lose {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  left: 0;
  background-color: var(--background-opacity);
}