<div class="round-container">
  <div class="round-number-result">
    <span>1</span>
    <!-- Las clases win draw y lose cambian el color del cuadrado a verde, rosa y morado respectivamente -->
    <div class="win"></div>
  </div>
  <div class="cards-battle">
    <div class="card empty-card">
      <!-- Añadir la clase empty-card cuando todavia no se haya jugado la ronda -->
      <!-- <img src="assets/object-images/camera.svg" alt=""> -->
    </div>
    <span>VS</span>
    <div class="card">
      <!-- Mostrar el div con la clase card-lose unicamente cuando sea la carta perdedora -->
      <div class="card-lose"></div>
      <img src="assets/object-images/prayer.svg" alt="">
    </div>
  </div>
</div>