<div class="round-container">
  <div class="round-number-result">
    <span>{{roundNumber+1}}</span>
    <div [ngClass]="resultClass"></div>
  </div>
  <div class="cards-battle">
    <div [ngClass]="cardsClass">
      <div *ngIf="roundResult && roundResult.playerResult === 'LOSE'" class="card-lose"></div>
      <img *ngIf="roundResult" src="assets/object-images/{{playerCard.toLowerCase()}}.svg" alt=""
        matTooltip="{{playerCard.toUpperCase()}}">
    </div>

    <span>VS</span>
    <div [ngClass]="cardsClass">
      <div *ngIf="roundResult && roundResult.playerResult === 'WIN'" class="card-lose"></div>
      <img *ngIf="roundResult" src="assets/object-images/{{enemyCard.toLowerCase()}}.svg" alt=""
        matTooltip="{{enemyCard.toUpperCase()}}">
    </div>
  </div>
</div>