.round-result {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--background-opacity);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  z-index: 1000;
}

.round-title {
  font-family: var(--krub);
  font-size: 150px;
  font-weight: 700;
  text-align: center;
  color: transparent;
  background-image: var(--orange-gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.card-battle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
}

.card-battle img {
  width: 9%;
  height: auto;
}
.card-battle app-card {
  width: 12%;
}

.battle-result {
  font-size: 30px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  font-style: italic;
}

.win {
  background-image: var(--green-gradient);
}

.draw {
  background-image: var(--purple-gradient);
}

.lose {
  background-image: var(--pink-gradient);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-60);
  text-align: center;
  transition: color 0.2s ease-in-out;
  margin-bottom: 30px;
}

button:hover {
  color: var(--white);
}