<mat-toolbar class="section-header">
    <h2>DECKS</h2>
    <app-autocomplete (filteredOutput)="getFiltered($event)" [array]="decks" [control]="autocompleteControl"
        [filterProperty]="filterProperty">
    </app-autocomplete>
</mat-toolbar>

<div class="grid-list">
    <div class="svg-new-deck">
        <img class="clickable" routerLink="/decks/create" src="assets/new_deck_template.svg " alt="New Deck" />
    </div>
    <div *ngFor="let deck of filteredDecks ">
        <app-deck class="clickable" routerLink="/decks/{{deck.id}}/details" [deck]="deck "></app-deck>
    </div>
</div>