.svg-new-deck>img {
    width: 100%;
    height: auto;
}

.grid-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 900px) {

    .grid-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
