<div>
  <div class="title">
    <h2>CARD DETAIL - {{ cardName.toUpperCase() }}</h2>
  </div>

  <div class="row">
    <div class="column-left">
      <div class="main-card">
        <app-card [name]="cardName"> </app-card>
      </div>
      <div class="if-card" *ngIf="versus != null">
        <span
          >"{{ cardName }} {{ versus.outcome }} {{ versus.losingCard }}"</span
        >
        <div class="selected-card">
          <app-card [name]="versus.losingCard.toLowerCase()"></app-card>
        </div>
      </div>
    </div>
    <div class="column-right">
      <mat-toolbar>
        <span class="outcome"> Winning outcomes: </span>
        <app-autocomplete
          (filteredOutput)="getFiltered($event)"
          [array]="winningOutcomes"
          [filterProperty]="filterProperty"
          [control]="autocompleteControl">
        </app-autocomplete>
      </mat-toolbar>
      <div class="card-list" *ngIf="filteredCards?.length != 0; else notFound">
        <app-card
          (click)="versus = card"
          class="check"
          *ngFor="let card of filteredCards"
          [name]="card.losingCard"
        ></app-card>
      </div>
      <ng-template #notFound>
        <div class="card-not-found">
          <p>
            No card with name "{{ cutString(autocompleteControl.value!) }}" has been found
          </p>
          <div>
            <app-card name="Not Found"></app-card>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
