span {
  font-size: 2vh;
  color: white;
  font-weight: 700;
}

.card-not-found {
  height: 70vh;
  padding-top: 12vh;
  text-align: center;
  font-style: italic;
}

.card-not-found div {
  display: inline-block;
  width: 15%;
}

.card-not-found p {
  color: white;
  font-size: 1.8vh;
}

.main-card {
  padding-right: 15%;
  padding-left: 15%;
}

.selected-card {
  padding-right: 22.5%;
  padding-left: 22.5%;
  margin-top: 25px;
}

.card-outcome {
  margin: 20px;
  text-align: center;
}

.card-outcome span {
  font-style: italic;
}

.row {
  display: flex;
}

.column-right {
  flex: 75%;
}

.column-left {
  flex: 25%;
}

.grid-list {
  margin-top: 10px;
}