.buttons {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
}

.deck-container {
    height: 100%;
}

.deck-info {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 40px;
}

.deck-info app-deck {
    width: 18%;
}

.stats-container {
    width: 60%;
    gap: 30px;
    display: flex;
    flex-direction: row;
}
.stats-container app-num-circle {
    width: 100%
}
.deck-cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1000px) {
    .deck-info {
        gap: 0px;
        justify-content: space-between;
    }

    .deck-info app-deck {
        width: 40%;
    }

    .stats-container {
        width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-list {
        // width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }