<div class="deck-detail-container">
  <div class="main-container">
    <mat-toolbar class="mat-toolbar mat-toolbar-single-row">
      <span style="font-size:4vh">DECK DETAILS - {{deck.name}}</span>
      <div class="buttons">
        <button mat-raised-button=""
          class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
          (click)="onEditClick()">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
          <span class="mdc-buttonlabel">Edit Deck</span>
        </button>
        <button mat-raised-button="" (click)="onDeleteDialogClick()"
          class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
          <span class="mdc-buttonlabel">Delete Deck</span>
        </button>
      </div>
    </mat-toolbar>
    <div class="stats-container">
      <app-deck class="main-card" [deck]="deck"></app-deck>
      <div class="stats-rows">
        <div class="stats-balls">
          <app-num-circle class="stat-circle"></app-num-circle>
          <app-num-circle class="stat-circle"></app-num-circle>
          <app-num-circle class="stat-circle"></app-num-circle>
          <app-num-circle class="stat-circle"></app-num-circle>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-container ">
    <span style="font-size:2.5vh ; color:white ">Deck cards :</span>
    <div class="cards-deck-container ">
      <div *ngFor=" let card of deck.cards " style="height: 57%; margin-right: 6vh; ">
        <div class="deck-card-container">
          <app-card class="deck-card" [name]="card "></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
