<mat-toolbar class="section-header">
  <h2>DECK DETAILS</h2>
  <div class="buttons">
    <button mat-raised-button=""
      class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
      (click)="onEditClick()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
      <span class="mdc-buttonlabel">Edit Deck</span>
    </button>
    <button mat-raised-button="" (click)="onDeleteDialogClick()"
      class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
      <span class="mdc-buttonlabel">Delete Deck</span>
    </button>
  </div>
</mat-toolbar>

<div class="deck-info">
  <app-deck [deck]="deck"></app-deck>
  <div class="stats-container">
    <app-num-circle></app-num-circle>
    <app-num-circle></app-num-circle>
    <app-num-circle></app-num-circle>
    <app-num-circle></app-num-circle>
  </div>
</div>

<div class="deck-cards-container">
  <h4>Deck cards:</h4>
  <div class="grid-list">
    <app-card [name]="card " *ngFor=" let card of deck.cards "></app-card>
  </div>
</div>