.card-not-found {
  height: 70vh;
  padding-top: 12vh;
  text-align: center;
  font-style: italic;
}

.card-not-found p {
  color: white;
  font-size: 1.8vh;
}

.card-not-found div {
  display: inline-block;
  width: 11%;
}