<div class="card-list-container">
  <mat-toolbar>
    <h2>101 CARDS</h2>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>
          <mat-icon
            aria-hidden="false"
            aria-label="Magnifying glass"
            fontIcon="search"
          ></mat-icon>
          Search...
        </mat-label>
        <input
          type="text"
          placeholder="Card name"
          aria-label="CardName"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredCards | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-toolbar>
  <div class="card-list" *ngIf="filterCards()?.length != 0; else notFound">
    <app-card
      class="check"
      routerLink="/cards/{{ card }}"
      *ngFor="let card of filterCards()"
      [name]="card"
    ></app-card>
  </div>
  <ng-template #notFound>
    <div class="card-not-found">
      <p>
        No card with name "{{ cutString(myControl.value!) }}" has been found
      </p>
      <div>
        <app-card name="Not Found"></app-card>
      </div>
    </div>
  </ng-template>
</div>
