.breweries {
    margin-top: 165px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 90px;
    width: 1000px;
}
.pagination {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.pagination ul{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination ul li {display: inline;}

.pagination ul li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
.pagination ul li a.active {
    background-color: rgb(253, 230, 138);
    color: #000000;
    border-radius: 5px;
}

.pagination ul li a:hover:not(.active) {background-color: #ddd;}
