<div class="newMargin">
    <mat-form-field class= "search" appearance="fill">
    <input
        matInput [(ngModel)]="longitude"
        type="number"
        placeholder="Longitude..."
        [formControl]="control"
        ng-pattern="/^[0-9]/"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class= "search">
    <input
        matInput [(ngModel)]="latitude"
        type="number"
        placeholder="Latitude..."
        [formControl]="control"
        required ng-pattern="/^[0-9]{5}$/"
    />
  </mat-form-field>
  <mat-icon class="icon" (click) = "searchByUbication()" matPrefix>location_searching</mat-icon>
</div>
