.svg-card {
    position: relative;
    container-type: inline-size;
}

.card-name {
  font-size: 11cqi;
}

.template-card {
  width: 100%;
}

.object-icon {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-height: 35%;
}

.svg-card>div {
  width: 100%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.svg-card span {
  color: white;
  font-family: Krub, Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

@container (min-width: 200px) {
  .card-name {
    font-size: 10cqi;
  }
}
