.game-modes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}


.game-modes {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-end;
    gap: 5%;
}

img {
    position: relative;
    width: 80%;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    top: 0;
}

img:hover {
    top: -15px;
}