.circle-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
}

.circle-container {
    position: relative;
    width: 100%;
}

.circle-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--blue-80);
    padding: 50%;
}


.circle-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90cqi;
    height: 90cqi;
    border-radius: 50%;
    border: 1.5cqi solid var(--blue);
    background-color: var(--blue-80);
}


.big-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    background-image: var(--orange-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: var(--krub);
    font-size: 45cqi;
    font-weight: 800;
    margin: 0;
}

.big-text {
    justify-content: center;
    font-family: var(--titillium);
    color: white;
    font-weight: 800;
    font-size: 15cqi;
}
