<div>
<h2>CARD DETAILS</h2>
<h3>Winning outcomes</h3>
<div id="generalCards">
<div id="detail">
  <app-card name={{name}}></app-card>
  <app-card id= "right" name="Airplane"></app-card>
</div>
<div id="detail">
  <app-card name={{name}}></app-card>
  <app-card id= "right" name="Axe"></app-card>
</div>
<div id="detail">
  <app-card name={{name}}></app-card>
  <app-card id= "right" name="Paper"></app-card>
</div>
<div id="detail">
  <app-card name={{name}}></app-card>
  <app-card id= "right" name="Paper"></app-card>
</div>
</div>
</div>
