<div class="card-details-container">
  <h2>CARD DETAILS</h2>
  <h4>Winning outcomes</h4>
  <div class="grid-list">
    <app-card *ngFor="let winningOutcome of this.winningOutcomes" [name]="winningOutcome.losingCard">
    </app-card>
  </div>
  <!-- <div id="generalCards">
    <div id="detail">
      <app-card name={{name}}></app-card>
      <app-card id="right" name="Airplane"></app-card>
    </div>
    <div id="detail">
      <app-card name={{name}}></app-card>
      <app-card id="right" name="Axe"></app-card>
    </div>
    <div id="detail">
      <app-card name={{name}}></app-card>
      <app-card id="right" name="Paper"></app-card>
    </div>
    <div id="detail">
      <app-card name={{name}}></app-card>
      <app-card id="right" name="Paper"></app-card>
    </div>
  </div> -->
</div>