.deck-edition-container {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.mat-toolbar {
    justify-content: space-between;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    margin-bottom: 1%;
}

.mat-mdc-raised-button:not(:disabled) {
    color: var(--blue-60);
    background-color: var(--blue-80);
}

.buttons {
    width: 40%;
    display: flex;
    justify-content: end;
    gap: 3%;
}

.main-card {
    height: 97.5%;
    width: 26%;
    margin-right: 2%;
    margin-top: 1%;
}

.initial-main-card {
    height: 97.5%;
    width: 25%;
    margin-right: 2%;
    margin-top: 1%;
}

.main-container {
    height: 65%;
    display: flex;
    flex-direction: column;
}

.deck-contents-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.cards-rows {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cards-container {
    display: flex;
    flex-direction: column;
    height: 35%;
    margin-top: 2%;
}

.cards-deck-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 1%;
    padding: 1%;
    gap: 2.5%;
    flex-wrap: wrap;
    justify-content: center;
}

.deck-edition-container::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.deck-edition-container::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--blue-80);
}

.deck-edition-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--blue-70);
}

.details {
    font-size: 2.5vh;
    color: white;
}

.details-edit {
    font-size: 2.5vh;
    color: var(--blue-60);
    margin-bottom: 1%;
}

.details-edit-background {
    font-size: 2.5vh;
    color: white;
    margin-bottom: 0.5%;
    background-color: var(--blue-80);
    padding: 0.5%;
    width: 97%;
}

.header-cards-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 19%;
}

.deck-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    margin: 1%;
}

.empty-cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 87%;
    gap: 3%
}

.initial-empty-cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 129%;
    gap: 3%;
}

.filled-cards-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
}

.empty-secondary-card {
    height: 150%;
    margin-top: 0.5%;
    margin-right: 3%;
}

.secondary-card {
    height: 67%;
}

.search-container {
    width: 20%;
    height: 100%;
}

.deckname-container-filled {
    width: 100%;
    height: 8%;
}

.deckname-container-initial {
    width: 82%;
    height: 8%;
}

.choose-card-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.svg-empty-card {
    height: 77%;
    margin-right: 3%;
}

.added-card {
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-height: 35%;
}

.added-background {
    position: absolute;
    z-index: 40;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    width: 101%;
    height: 101%;
}

.delete-card {
    position: absolute;
    z-index: 50;
    transform: translate(600%, -30%);
    width: 15%;
}

.deck-card-container {
    width: 100%;
    height: 100%;
    position: relative;
}

app-card.card-list, app-card.secondary-card, .delete-card {
  cursor: pointer;
}
