<div>
  <mat-toolbar class="section-header">
    <h2>DECK {{typeName}}</h2>
    <div class="buttons">
      <button mat-raised-button=""
        class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base" (click)="onSave()">
        <mat-icon aria-hidden="false" fontIcon="check"></mat-icon>
        <span class="mdc-buttonlabel">Save</span>
      </button>
      <button mat-raised-button=""
        class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base"
        (click)="onCancel()">
        <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
        <span class="mdc-buttonlabel">Cancel</span>
      </button>
    </div>
  </mat-toolbar>

  <div class="deck-contents-container">
    <app-card *ngIf="deckCards.length" class="main-card" [name]="mainCardName"></app-card>
    <img style="height: 100%; object-fit: cover;" *ngIf="!deckCards.length" class="main-card"
      src="assets/empty_card_template.svg " alt="Empty Deck">
    <div class="cards-rows">
      <h4>Name* :</h4>
      <mat-form-field id="deckname" appearance="fill">
        <input matInput value="{{deck ? deck.name : ''}}" placeholder="Deck Name" maxlength="50" />
        <div [hidden]="!requestFailed ">
          <small>{{ error }}</small>
        </div>
      </mat-form-field>

      <h4>Deck cards :</h4>
      <div class="deck-container">
        <div class="deck-item" *ngFor="let empty of [].constructor(5); let i=index">
          <div *ngIf="deckCards[i]" class="deck-card-container">
            <img class="delete-card clickable" (click)="onDelete(deckCards[i])" src="assets/delete_button_template.svg "
              alt="Delete button" />
            <app-card class="secondary-card" [name]="deckCards[i]"></app-card>
          </div>
          <div *ngIf="!deckCards[i]" class="svg-empty-card ">
            <img class="empty-secondary-card " src="assets/empty_card_template.svg " alt="Empty card" />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="cards-container ">
  <div class="header-cards-container ">
    <h4>All cards :</h4>
    <app-autocomplete (filteredOutput)="getFiltered($event)" [array]="cards"
      [control]="autocompleteControl"></app-autocomplete>
  </div>

  <div class="grid-list">
    <div *ngFor="let card of filteredCards ">
      <div class="choose-card-container">
        <div *ngIf="deckCards.includes(card)">
          <img class="added-background" src="assets/empty_card_template.svg " style="opacity: 90%;" alt="Empty card " />
          <img class="added-card" src="assets/added_template.svg " alt="Added card " />
        </div>
        <app-card class="clickable" [name]="card " (click)="onAdd(card) "></app-card>
      </div>
    </div>
  </div>
</div>