.buttons {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
}

.deck-contents-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.main-card {
    width: 20%;
}

.cards-rows {
    display: flex;
    flex-direction: column;
    width: 80%;
}

@media (max-width: 900px) {

    .deck-contents-container {
        flex-direction: column;
        gap: 20px;
    }

    .main-card {
        width: 100%;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .cards-rows {
        width: 100%;
    }
}

.delete-card {
    position: absolute;
    z-index: 50;
    width: 25px;
    top: -7px;
    right: -10px;
}

@media (max-width: 800px){
    .delete-card {
        width: 20px;
        right: -7px;
    }
}

.deck-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    max-width: 100%;
}

.deck-item {
    width: 200px;
}

.empty-secondary-card {
    width: 100%;
}



.cards-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header-cards-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.deck-card-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.added-card {
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-height: 35%;
}

.added-background {
    position: absolute;
    z-index: 40;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 101%;
    height: 101%;
}

.choose-card-container {
    width: 100%;
    height: 100%;
    position: relative;
}

mat-form-field {
    max-width: 500px;
}

h4 {
    margin-bottom: 10px;
}

.cdk-drag-handle {
    cursor: grab;
}

.cdk-drop-list-dragging{
    cursor: grab;
}