<div class="search-container">
  <mat-form-field appearance="fill">
    <input
      type="text"
      placeholder="{{ placeholder }}"
      [formControl]="control"
      [matAutocomplete]="auto"
      matInput
    />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <div *ngIf="control.value">
      <div *ngIf="filterPropertyKey">
        <mat-option *ngFor="let option of filteredArray | async" [value]="option[filterPropertyKey]">
          {{ option[filterPropertyKey] }}
        </mat-option>
      </div>
      <div *ngIf="!filterPropertyKey">
        <mat-option *ngFor="let option of filteredArray | async" [value]="option">
          {{ option }}
        </mat-option>
      </div>
    </div>
  </mat-autocomplete>
</div>
