.deck-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  container-type: inline-size;
}

.main-card-name {
  font-family: var(--krub);
  font-size: 8cqi;
}

.secondary-objects {
  position: absolute;
  width: 31%;
  height: 95%;
  top: 49.5%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.secondary-objects div {
  background-color: white;
  border-radius: 3cqi;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.secondary-objects img {
  width: 100%;
}

.svg-deck {
  width: 100%;
  height: fit-content;
  position: relative;
  white-space: nowrap;
  background-color: var(--blue-90);
  height: 0;
  padding-bottom: 120%;
  border-radius: 11%;
  
}

.template-deck {
  width: 100%;
  height: auto;
}

.object-deck-icon {
  position: absolute;
  top: 42.5%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 35%;
}

.svg-deck >  div {
  position: absolute;
  bottom: 14%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.svg-deck > div > span {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

.deck-name {
  color: var(--white);
  font-weight: 600;
  text-align: center;
  font-size: 11cqi;
}

.object-deck-secondary-icon > div {
  height: calc(80cqi / 5);
}