.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.decks-list-container::-webkit-scrollbar {
    width: 12px;
}

.decks-list-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: var(--blue-80);
}

.decks-list-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--blue-70);
}